body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

h1 {
    color: darkblue;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
}

nav a:hover {
    background-color: gray;
}

img {
    margin: 10px;
    border: 2px solid black;
}